head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  title <%= name %>
  base(href="/")
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type='text/css')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css" type='text/css')

  link(rel="stylesheet" href="/styles/main.css")
  link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.css")
  link(rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' type='text/css')
  link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="shortcut icon" href="/assets/favicon.ico")


body(ng-controller="ApplicationController")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js")

  ui-view
  script(src="/app.js")
  //
    TODO: Insert Analytics Tracking Code
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'YOUR_TRACKING_CODE_HERE', 'auto');
        ga('send', 'pageview');
