/* brand colors */
$color-primary: #2196F3;
$color-muted: #747474;
$color-secondary: #4CAF50;

/* color uses */
$text-color: #444;
$heading-color: #222;
$link-color: $color-secondary;

/* type */
$font-family: 'Roboto', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.8;
